@media only screen and (max-width: 1125px) {
  .main_section {
    width: 25% !important;
  }

  .content_section {
    width: 75% !important;
  }

  .main_section_log {
    width: 40% !important;
  }

  .content_section_log {
    width: 60% !important;
  }
}