// ribbon hubicado en la parte izquierda
.ribbon3 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: -8px;
    top: 20px;
    background: #59324C;
  
    &:before, &:after {
      content: "";
      position: absolute;
    }
  
    &:before {
      height: 0;
      width: 0;
      top: -8.5px;
      left: 0.1px;
      border-bottom: 9px solid black;
      border-left: 9px solid transparent;
    }
  
    &:after {
      height: 0;
      width: 0;
      right: -14.5px;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 15px solid #59324C;
    }
  }

  .ribbon4 {
    width: 98.5%;
    position: absolute;
    top: 6px;
    padding: 8px 10px;
    background: #00B3ED;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  
    &:before, &:after {
      content: "";
      position: absolute;
    }
  
    &:before {
      width: 7px;
      height: 120%;
      top: 0;
      left: -6.5px;
      padding: 0 0 7px;
      background: inherit;
      border-radius: 5px 0 0 5px;
    }
  
    &:after {
      width: 5px;
      height: 5px;
      bottom: -5px;
      left: -4.5px;
      background: lightblue;
      border-radius: 5px 0 0 5px;
    }
  }