// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// mediaQuerys
@import "mediaQuery";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Ribbons
@import "ribbons";

// aplicando colores de fondo
.bg-direction{ background: $color-direction !important;}
.bg-admissions{ background: $color-admissions !important;}
.bg-jefprogram{ background: $color-jefProgram !important;}
.bg-urgente{background: rgb(228, 108, 9);}
.c-white{ color: white !important;}
.bg-input-login{ background: $bg-input !important;}
.lh{line-height: normal;}
.d-content{display: contents !important;}
.w-85{
  width: 85% !important;
  transition: 2s;
  &:hover{
    transition: 2s;
    box-shadow: 0 5px 12px #80808091 !important;
  }
}.w-90{width: 90% !important;}
.as-center{align-self: center !important;}
.b-admissions{border-top: 0.2em solid $color-admissions !important;}
.b-urgente{border-top: 0.2em solid rgb(228, 108, 9) !important;}
.disabled{background: rgba(179, 179, 179, 0.692) !important; color: white !important;}
.bgSentDir{background: $sent_admisisons_to_dir !important;}
.bgAproved{background: $aprovado !important;}
// z-index
.z-8{z-index: 8;}

// .d-contents{display: contents !important;}

#app {
  display: block !important;
  position: relative !important;
  height: 100% !important;
}

.body_content {
  height: 100% !important;
  width: 100% !important;
  background: white;
}

// estilos de la estructura
// estilo del main
.main_section {
  width: 20%;
  height: 100%;
  margin: 0;
  position: fixed;
  display: -webkit-box;
  display: flex;
  padding: 20px;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.29);
  z-index: 10;
  background: white;

  .head {
    display: table-header-group;
    height: 150px;
    display: table-cell;
    margin-bottom: 30px;

    img {
      width: 70%;
      padding: 10px;
      border-radius: 100%;
      background: hsla(0, 0%, 92%, 0.70);
    }
  }

  .body {
    // height: 100%;
    display: table-row;

    .main_body {
      margin: 20px 10px;
    }
  }

  .foter {
    display: table-footer-group;
    height: 80px;
    display: table-cell;
  }

  .container {
    margin: 0;
  }
}

.bg_admissions{
  background: $color-admissions;
}

.content_section {
  height: 100%;
  position: fixed;
  display: flex;
  width: 80%;
  float: left;
  right: 0;

  .content_header {
    background: white;
    box-shadow: 0 -5px 15px rgba(128, 128, 128, 0.451);
    display: table-row;
    height: 60px;
    text-align: center;

    .title {
      height: 100%;

      h1 {
        text-transform: uppercase;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }

  .contents_body {
    display: table-row;

    .body {
      height: 100%;
      overflow: auto;
      position: relative;
      padding: 25px 20px 45px;
    }
  }

  .content_foter {
    display: table-row;
    height: 50px;
  }
}

.pan {
  position: relative;
  display: table;
  height: 100%;
  padding: 0;
}

// BOTONES PERSONALIZADOS
.btn_logout {
  text-decoration: none;
  width: 80% !important;
  padding: 5px 20px;
  border: 2px solid;
  border-radius: 20px;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
    background: #ffffff47;
  }
}

// lista de menus

.item_main {
  height: 35px;
  padding: 20px 10px !important;
  font-size: 1.1rem !important;
  border-bottom: 1px solid;
  display: flex !important;
  position: relative !important;
  align-items: center !important;
  color: $white !important;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
    background: rgba(134, 134, 134, 0.473);
  }
}
.item_main_accordion{
  height: auto;
  padding: 0px 10px !important;
  font-size: 1.1rem !important;
  border-bottom: 1px solid;
  display: block !important;
  position: relative !important;
  align-items: center !important;
  color: $white !important;
  &:hover {
    text-decoration: none;
    background: rgba(134, 134, 134, 0.473);
  }
  .item{
    &:hover{
      background: silver;
    }
  }
}

tbody{
  tr{
    td{
      text-align: center !important;
    }
  }
}

.create_radic{
  margin: auto;
}.ui.upload_radic.input input[type="file"] { //diseo del boton upload_radic
  display: none;
}#uploadRadic, label{
    cursor: pointer;
}

// CARDS
.btns button{
  padding: 0;
  height:auto ;
}.section_paginate{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 20;
  background: white;
  width: auto;
  height: 45px;
  left: 0;
  right: 0;
}
#fileAnswer{
  cursor: pointer;
}
// ESTADOS DEL RADICADO
.states{
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  align-items: center;
  justify-content: center;
  .massive{
    font-size: 13em !important;
    opacity: 0.5;
  }
}